@keyframes header-fixed {
  0% { transform: translateY(-78px); }
  100% { transform: translateY(0px); }
}

.slide-top-enter-active {
  transition: all .3s ease;
}
.slide-top-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-top-enter, .slide-top-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}
.app-header {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  &__logo {
    background: #3f3735;
    height: 100px;
    border-top: 4px solid #8bb93e;
    &-inside {
      width: 1280px;
      height: 100%;
      padding: 0 40px;
      margin: auto;
      display: flex;
      align-items: center;
      img {
        height: 50px;
      }
    }
  }
  &__menu {
    background: #fff;
    height: 78px;
    &-trigger {
      display: none;
    }
    &-inside {
      width: 1280px;
      height: 100%;
      padding: 0 40px;
      margin: auto;
      display: flex;
      align-items: center;
      &__item {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 40px 0 0;
        position: relative;
        z-index: 9;
        //&::before {
        //  content: '';
        //  width: 8px;
        //  height: 8px;
        //  border-radius: 50%;
        //  position: absolute;
        //  left: 0;
        //  top: 60px;
        //  background: #8bb93e;
        //  opacity: 0;
        //  transition: .2s;
        //  z-index: 3;
        //}
        &:hover {
          .app-header__menu-inside__item-list {
            display: flex;
            opacity: 1;
            overflow: visible;
            height: max-content;
            transition: .4s;
            transform: rotateX(0deg);
          }
        }
        &-title {
          text-transform: uppercase;
          font-size: 14px;
          height: 100%;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #313131;
          position: relative;
          &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 60px;
            background: #8bb93e;
            opacity: 0;
            transition: .2s;
            z-index: 3;
          }
          &:hover {
            cursor: pointer;
            &::before {
              opacity: 1;
              transform: scale(1.5);
              transition: .2s;
            }
          }
        }
        .router-link-active {
          &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 60px;
            background: #8bb93e;
            opacity: 1;
            transition: .2s;
            z-index: 3;
          }
        }
        &-list {
          width: 280px;
          padding: 10px 0;
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 64px;
          left: -15px;
          background: #fff;
          opacity: 0;
          height: 0;
          overflow: hidden;
          z-index: 2;
          transition: .2s;
          box-shadow: 0 2px 15px 0 rgba(24,24,24,.15);
          transform: rotateX(-60deg);
          transform-origin: 0 0;
          &__item {
            width: 100%;
            &-link {
              display: inline-block;
              width: 100%;
              padding: 10px 20px;
              color: #181818;
              font-weight: 400;
              text-transform: none;
              text-decoration: none;
              font-size: .928em;
              transition: .2s;
              &:hover {
                color: #8bb93e;
                transition: .2s;
              }
            }
            &-sub {
              position: relative;
              &__link {
                display: inline-block;
                width: 100%;
                padding: 10px 20px;
                color: #181818;
                font-weight: 400;
                text-transform: none;
                text-decoration: none;
                font-size: .928em;
                transition: .2s;
              }
              &__list {
                width: 0px;
                padding: 10px 0;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0;
                left: 100%;
                background: #fff;
                opacity: 0;
                overflow: hidden;
                z-index: 2;
                transition: .2s;
                box-shadow: 0 2px 15px 0 rgba(24,24,24,.15);
                transform: rotateY(-30deg);
                transform-origin: 0 0;
                &-item {
                  width: 100%;
                  &__link {
                    display: inline-block;
                    width: 100%;
                    padding: 10px 20px;
                    color: #181818;
                    font-weight: 400;
                    text-transform: none;
                    text-decoration: none;
                    font-size: .928em;
                    transition: .2s;
                    &:hover {
                      color: #8bb93e;
                      transition: .2s;
                    }
                  }
                }
              }
              &:hover {
                .app-header__menu-inside__item-list__item-sub__list {
                  display: flex;
                  opacity: 1;
                  overflow: visible;
                  min-width: 280px;
                  width: max-content;
                  transition: .4s;
                  transform: rotateY(0deg);
                }
              }
            }
          }
        }
      }
    }
    &-fixed {
      animation: header-fixed .3s linear;
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
    }
  }
}

@media all and (max-width: 1295px) {
  .app-header__logo-inside {
    width: 100%;
  }
  .app-header__menu-inside {
    width: 100%;
  }
}

@media all and (max-width: 1200px) {
  .app-header {
    &__fixed {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
    }
    &__logo {
      &-inside {
        padding: 0 40px 0 80px;
      }
    }
    &__menu {
      position: absolute;
      left: 0;
      top: 100%;
      width: 305px;
      height: calc(100vh - 100px);
      &-trigger {
        width: 21px;
        height: 3px;
        background: #fff;
        position: relative;
        display: flex;
        top: 0px;
        left: -25px;
        &::before {
          content: '';
          position: absolute;
          width: 21px;
          height: 3px;
          background: #fff;
          left: 0;
          top: -7px
        }
        &::after {
          content: '';
          position: absolute;
          width: 21px;
          height: 3px;
          background: #fff;
          left: 0;
          bottom: -7px
        }
      }
      &-fixed {
        position: absolute;
        animation: none;
      }
      &-inside {
        display: flex;
        flex-direction: column;
        padding: 20px 0 0 0;
        &__item {
          height: auto;
          padding: 14px 0;
          display: flex;
          flex-direction: column;
          &-title {
            padding-bottom: 14px;
            width: 225px;
            justify-content: center;
            position: relative;
            &__arrow {
              position: absolute;
              width: 8px;
              height: 8px;
              border-left: 2px solid #191919;
              border-top: 2px solid #191919;
              right: 0;
              top: 0;
              transform: rotate(-135deg);
              transition: .2s;
            }
            &:hover {
              &::before {
                content: none;
              }
            }
            &__active {
              .app-header__menu-inside__item-title__arrow {
                transform: rotate(-315deg);
                transition: .2s;
              }
            }

          }
          .router-link-active {
            &::before {
              content: none;
            }
          }
          &-list {
            background: none;
            width: auto;
            padding: 0 0 0 0;
            position: static;
            opacity: 1;
            height: auto;
            overflow: visible;
            transform: rotateX(0deg);
            box-shadow: none;
            &__item {
              width: 225px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              &-link {
                text-align: center;
              }
              &-sub {
                &__link {
                  text-align: center;
                  position: relative;
                  &-arrow {
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-left: 2px solid #191919;
                    border-top: 2px solid #191919;
                    right: 0;
                    top: 10px;
                    transform: rotate(-135deg);
                    transition: .2s;
                  }
                  &-active {
                    .app-header__menu-inside__item-list__item-sub__link-arrow {
                      transform: rotate(-315deg);
                      transition: .2s;
                    }
                  }
                }
                &:hover {
                  .app-header__menu-inside__item-list__item-sub__list {
                    min-width: auto;
                  }
                }
                &__list {
                  padding: 0 0 0 0;
                  position: static;
                  opacity: 1;
                  width: auto;
                  overflow: visible;
                  transform: rotateY(0deg);
                  box-shadow: none;
                  &-item {
                    width: 225px;
                    display: flex;
                    justify-content: center;
                    &__link {
                      text-align: center;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}